.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
  gap: 93px;
}

.footer__address {
  margin-top: 20px;
}

.footer__address-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__link--white {
  color: var(--pure-white-color);
}

.footer__social-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pure-white-color);
  margin-bottom: 20px;
}

.footer__social-list {
  display: flex;
  gap: 10px;
}

.footer__social-item {
  width: calc((100% - 30px) / 4);
}

.footer__social-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--pure-white-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: var(--accent-site-color);
}

.footer__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--pure-white-color);
}

.footer__action-container {
  margin-top: 20px;
  display: flex;
  gap: 12px;
}

.footer__input {
  padding: 15px 16px;
  width: 358px;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 0.6);
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__input:focus {
  border-color: var(--accent-site-color);
}

.footer__button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--pure-white-color);
  background-color: var(--accent-site-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.footer__icon-send {
  margin-left: 10px;
  fill: var(--pure-white-color);
}
