.form__item {
  margin-top: 10px;
}

.form__label {
  display: block;
  margin-bottom: 4px;
  color: var(--slave-text-color);
  font-size: 12px;
  line-height: 1.16;
}

.form__wrap {
  position: relative;
}

.form__input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__input:focus ~ .form__icon {
  fill: var(--accent-site-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: transparent;
  border-color: var(--accent-site-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
}

.form__comments {
  resize: none;
  padding: 12px 16px;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.form__comments:focus {
  outline: transparent;
  border-color: var(--accent-site-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comments::placeholder {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contract {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contract__input:checked + .contract__label > .contract__icon-wrap {
  background-color: var(--accent-site-color);
  border: 0 solid transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract__input:checked + .contract__label .contract__icon {
  fill: var(--pure-white-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contract__label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--slave-text-color);
}

.contract__link {
  color: var(--accent-site-color);
  margin-left: 5px;
}

.contract__icon-wrap {
  display: inline-block;
  margin: 0 8px 0 12px;
  width: 16px;
  height: 15px;
  border: 2px solid var(--master-text-color);
  border-radius: 2px;
}

.contract__icon-wrap:hover {
  border-color: var(--accent-site-color);
}

.contract__icon {
  fill: transparent;
  display: flex;
}

.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 52px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-site-color);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: var(--pure-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0px solid transparent;
}

.form__button:active {
  background-color: #188ce8;
}
